body {
    display: Flex;
    flex-direction: Column;

}

.header {
    display: Flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}

.header a {
    color: #f9faf8;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: Center;
    align-items: center;
    font-size: 40px;
    font-size: 24px;
    color: #f9faf8;
    
}

.heroback {
    background-color: #1F2937;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 150px;
    padding-top: 150px;
    gap: 50px;
    height: 300px;
    flex-basis: 0;
}

.Maintext {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.bodytext {
    color: #f9faf8;
    font-size: 18px;
    padding-bottom: 10px;
}

.heroimg {
    width: 100%;
    height: 100%;
    max-width: auto;
    max-height: auto;
    object-fit: fill;
    min-width: 450px;
}

.heroimg img{
max-width: 100%;
max-height: 100%;
}

button {
    font-size: 18px;
    background-color: #3882F6;
    padding: 5px 30px;
    border-radius: 12px;
    color: #f9faf8;
}

.herobutton {
    border: none;
}


.main {
    padding: 75px 100px;
}

.maintitle {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding-bottom: 75px;

}

.panel {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    gap: 30px;
}

.panel img {
    height: 250px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 25%;
}

.panel p {
    text-align: center;
    width: 200px;
}

.quotebox {
    background-color: #E5E7EB;
    padding: 200px;
    
}

.quote {
    display: flex;
    flex-direction: column;
    flex-basis: 0%;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.quoteline {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}


.quotename {
    text-align: right;
    font-weight: bold;

}

.calltoactionback {
    background-color: #f9faf8;
}

.Callbanner {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    Height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.calltoactionheadline {
    color: #f9faf8;
    font-weight: bold;
    font-size: 20px;
}

.calltoactionbody {
    font-weight: normal;
}

.button2 {
    border: 2px solid #f9faf8;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    font-size: 15px;
    padding: 25px;
}